.tudo{
  background-color: #7FFFD4;
}
.header{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
.content{
  font-size: 25px;
  font-style: italic; 
  padding-top: 10px;
  padding-bottom: 70px;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;    
  text-align: center;
  line-height: 100px;
}
/*.rodapeFixo{
  bottom: 0;
  position: fixed;
  width: 90%;
  text-align: center;
}*/

  if(!$con)
  {
    echo "Erro ao conectar root!";
    exit();
  }
  else{
    echo "Conectado no root !";
  }